# The map that will be loaded by new GameGroups
start_map: "lobby"

# The language files that will be used by default
lang_files:
  - "colony_wars.lang"
  - "lang/weapon_modifier.lang"
  - "lang/items.lang"
  - "lang/commands.lang"

# Specifies identifiers for teams to be created
team_identifiers:
  red:
    dye_color: RED
  blue:
    dye_color: BLUE
  green:
    dye_color: GREEN
  yellow:
    dye_color: YELLOW

kits:
  general:
    listeners:
      kit:
        class: "com.ithinkrok.cw.kit.KitListener"
        config:
          buildings:
            Blacksmith:
              custom_items:
                - "general_sword"
              shop:
                - class: "com.ithinkrok.minigames.inventory.Upgradable"
                  config:
                    upgrade_name: "sword"
                    upgrade_display_locale: "general_sword.upgrade"
                    max_level: 2
                    upgrade_cost: "1100+250*sword"
                    upgrade_item: "general_sword"
  scout:
    listeners:
      kit:
        class: "com.ithinkrok.cw.kit.KitListener"
        config:
          buildings:
            Base:
              potion_effects:
                SPEED: 2
              upgrades:
                team_compass: 1 #Prevent buying the team compass
            Lumbermill:
              custom_items:
                - "scout_sword"
              shop:
                - class: "com.ithinkrok.minigames.inventory.Upgradable"
                  config:
                    upgrade_name: "sharpness"
                    upgrade_display_locale: "scout_sword.upgrade.sharpness"
                    max_level: 2
                    upgrade_cost: "1100+250*sharpness"
                    upgrade_item: "scout_sword"
                - class: "com.ithinkrok.minigames.inventory.Upgradable"
                  config:
                    upgrade_name: "knockback"
                    upgrade_display_locale: "scout_sword.upgrade.knockback"
                    max_level: 2
                    upgrade_cost: "1100+250*knockback"
                    upgrade_item: "scout_sword"
            Church:
              shop:
                - class: "com.ithinkrok.minigames.inventory.Upgradable"
                  config: &player_compass_upgrade
                    upgrade_name: "player_compass"
                    upgrade_display_locale: "player_compass.upgrade"
                    max_level: 1
                    upgrade_cost: 400
                    upgrade_item: "player_compass"
            Cathedral:
              shop:
                - class: "com.ithinkrok.minigames.inventory.Upgradable"
                  config: *player_compass_upgrade
            MageTower:
              custom_items:
                - "regen_ability"
              shop:
                - class: "com.ithinkrok.minigames.inventory.Upgradable"
                  config:
                    upgrade_name: "regen"
                    upgrade_display_locale: "regen_ability.upgrade"
                    max_level: 1
                    upgrade_cost: "1350+250*regen"
                    upgrade_item: "regen_ability"

#TODO kits and KitChangeEvent

schematics:
  Base:
    file: "schematics/mccw_base.schematic"
    rotation: 0
    upgrades:
      - "Fortress"
    config:
      base: true
      protected: true
      shop:
        - class: "com.ithinkrok.cw.inventory.BuildingBuyable"
          config:
            building_name: "Farm"
            cost: 2000
            team: true
        - class: "com.ithinkrok.cw.inventory.BuildingBuyableWith"
          config:
            building_name: "Lumbermill"
            cost: 2000
            team: true
            with_buildings:
              - "Farm"
        - class: "com.ithinkrok.cw.inventory.BuildingBuyableWith"
          config:
            building_name: "Blacksmith"
            cost: 4000
            team: true
            with_buildings:
              - "Farm"
        - class: "com.ithinkrok.cw.inventory.BuildingBuyableWith"
          config:
            building_name: "MageTower"
            cost: 4000
            team: true
            with_buildings:
              - "Farm"
        - class: "com.ithinkrok.cw.inventory.BuildingBuyableWith"
          config:
            building_name: "Church"
            cost: 4000
            team: true
            with_buildings:
              - "Farm"
        - class: "com.ithinkrok.cw.inventory.BuildingBuyableWith"
          config:
            building_name: "Greenhouse"
            cost: 2000
            team: true
            with_buildings:
              - "Farm"
        - class: "com.ithinkrok.cw.inventory.BuildingUpgradeWith"
          config:
            building_name: "Fortress"
            cost: 25000
            team: true
            with_buildings:
              - "Farm"
              - "Lumbermill"
              - "Blacksmith"
              - "MageTower"
              - "Cathedral"
              - "Greenhouse"
  Fortress:
    file: "schematics/mccw_fortress.schematic"
    rotation: 0
    config:
      base: true
      cannons: true
      protected: true
      shop:
        - class: "com.ithinkrok.cw.inventory.BuildingBuyable"
          config:
            building_name: "Farm"
            cost: 2000
            team: true
        - class: "com.ithinkrok.cw.inventory.BuildingBuyableWith"
          config:
            building_name: "Lumbermill"
            cost: 2000
            team: true
            with_buildings:
              - "Farm"
        - class: "com.ithinkrok.cw.inventory.BuildingBuyableWith"
          config:
            building_name: "Blacksmith"
            cost: 4000
            team: true
            with_buildings:
              - "Farm"
        - class: "com.ithinkrok.cw.inventory.BuildingBuyableWith"
          config:
            building_name: "MageTower"
            cost: 4000
            team: true
            with_buildings:
              - "Farm"
        - class: "com.ithinkrok.cw.inventory.BuildingBuyableWith"
          config:
            building_name: "Church"
            cost: 4000
            team: true
            with_buildings:
              - "Farm"
        - class: "com.ithinkrok.cw.inventory.BuildingBuyableWith"
          config:
            building_name: "Greenhouse"
            cost: 2000
            team: true
            with_buildings:
              - "Farm"
        - class: "com.ithinkrok.cw.inventory.BuildingBuyable"
          config:
            building_name: "CannonTower"
            cost: 4000
            team: true
  Farm:
    file: "schematics/mccw_farm.schematic"
    rotation: 0
    config:
      shop:
        - class: "com.ithinkrok.minigames.inventory.ItemBuyable"
          config:
            item: "POTATO_ITEM,5"
            cost: 15
        - class: "com.ithinkrok.minigames.inventory.ItemBuyable"
          config:
            item: "COOKIE,10"
            cost: 20
        - class: "com.ithinkrok.minigames.inventory.ItemBuyable"
          config:
            item: "RAW_BEEF,5"
            cost: 30
        - class: "com.ithinkrok.minigames.inventory.ItemBuyable"
          config:
            item: "BAKED_POTATO,10"
            cost: 60
        - class: "com.ithinkrok.minigames.inventory.ItemBuyable"
          config:
            item: "COOKED_BEEF,10"
            cost: 100
        - class: "com.ithinkrok.minigames.inventory.ItemBuyable"
          config:
            item: "GOLDEN_APPLE,1"
            cost: 125

  Lumbermill:
    file: "schematics/mccw_lumbermill.schematic"
    rotation: 0
  Blacksmith:
    file: "schematics/mccw_blacksmith.schematic"
    rotation: 3
    config:
      shop:
        - class: "com.ithinkrok.cw.inventory.BuildingBuyable"
          config:
            building_name: "ScoutTower"
            cost: 2000
            team: true
        - class: "com.ithinkrok.cw.inventory.BuildingBuyable"
          config:
            building_name: "Wall"
            amount: 16
            cost: 1600
            team: true
        - class: "com.ithinkrok.cw.inventory.BuildingBuyable"
          config:
            building_name: "Landmine"
            cost: 200
            team: true
  MageTower:
    file: "schematics/mccw_magetower.schematic"
    rotation: 2
  Church:
    file: "schematics/mccw_church.schematic"
    rotation: 3
    upgrades:
      - "Cathedral"
    config:
      revival_rate: 30
      shop:
        - class: "com.ithinkrok.cw.inventory.BuildingUpgrade"
          config:
            building_name: "Cathedral"
            cost: 8000
            team: true
        - class: "com.ithinkrok.minigames.inventory.ItemBuyable"
          config:
            item: "POTION,32,16389"
            cost: 1250
  Cathedral:
    file: "schematics/mccw_cathedral.schematic"
    rotation: 3
    config:
      revival_rate: 75
      shop:
        - class: "com.ithinkrok.minigames.inventory.ItemBuyable"
          config:
            item: "POTION,32,16389"
            cost: 500
        - class: "com.ithinkrok.minigames.inventory.Upgradable"
          config:
            upgrade_name: "team_compass"
            upgrade_display_locale: "team_compass.upgrade"
            max_level: 1
            upgrade_cost: 1000
            upgrade_item: "team_compass"
  Greenhouse:
    file: "schematics/mccw_greenhouse.schematic"
    rotation: 3
    config:
      shop:
        - class: "com.ithinkrok.minigames.inventory.Upgradable"
          config:
            upgrade_name: "axe"
            upgrade_display_locale: "mighty_axe.upgrade"
            max_level: 1
            upgrade_cost: 1600
            upgrade_item: "mighty_axe"
  ScoutTower:
    file: "schematics/mccw_scouttower.schematic"
    rotation: 2
    upgrades:
      - "CannonTower"
    config:
      shop:
        - class: "com.ithinkrok.cw.inventory.BuildingUpgrade"
          config:
            building_name: "CannonTower"
            cost: 2000
            team: true
  CannonTower:
    file: "schematics/mccw_cannontower.schematic"
    rotation: 2
    config:
      cannons: true
  Wall:
    file: "schematics/mccw_wall.schematic"
    rotation: 0
  Landmine:
    file: "schematics/mccw_mine.schematic"
    rotation: 0

# Specifies default shared objects. Some shared objects are required by certain Java Classes used in the game.
shared_objects:
  gold_config:
    ore_blocks:
      gold_ore: "GOLD_INGOT,6"
      quartz_ore: "GOLD_INGOT,6"
      diamond_ore: "DIAMOND,1"
    trees:
      enabled: true
      item_material: "GOLD_INGOT"
      item_amount: "1+x+(ln(x)/ln(1.5))-min(sqrt((x^3)/500),x^0.9)"
      log_materials:
        - "LOG"
        - "LOG_2"
    items:
      gold_ingot:
        user: 60
        team: 40
      diamond:
        user: 1200
        team: 800
    pickup_sound: "ORB_PICKUP"
  # Required for UserMoney.java
  user_money_metadata:
    remove_gamestate: "aftermath"
    add_locale: "money.balance.user.add"
    subtract_locale: "money.balance.user.subtract"
    new_locale: "money.balance.user.new"
  # Required for TeamMoney.java
  team_money_metadata:
    remove_gamestate: "aftermath"
    add_locale: "money.balance.team.add"
    subtract_locale: "money.balance.team.subtract"
    new_locale: "money.balance.team.new"
  # Required for CWScoreboardHandler.java
  colony_wars_scoreboard:
    title: "scoreboard.title"
    user_balance: "scoreboard.user_balance"
    team_balance: "scoreboard.team_balance"
    building_now_count: "scoreboard.building_now_count"
    revival_rate: "scoreboard.revival_rate"
  schematic_options:
    progress_hologram: true
    build_speed: 2
    center_block_material: "OBSIDIAN"
    replace_materials:
      BARRIER: "AIR"
      DIAMOND_ORE: "GOLD_ORE"
# Required for User.java
  user:
    default_stats:
      max_health: 20
      health: 20
      food_level: 10
      saturation: 5
      fly_speed: 0.1
      walk_speed: 0.2
  showdown_metadata:
    min_radius: 5
    shrink_start_time: 180
    shrink_interval_time: 20
    shrink_start_locale: "showdown.shrinking"

game_states:
  lobby:
    listeners:
      main:
        class: "com.ithinkrok.cw.gamestate.LobbyListener"
        config:
          start_countdown:
            name: "start"
            locale_stub: "countdowns.start"
            min_players: 4
            needs_more_players_locale: "countdowns.start.needs_more_players"
            seconds: 181

          next_gamestate: "game"
          lobby_map: "lobby"
          give_on_join:
            clear_inventory: true
            items:
              - name: "map_voter"
                slot: 0
              - name: "team_chooser"
                slot: 1
              - name: "class_chooser"
                slot: 2

  game:
    listeners:
      main:
        class: "com.ithinkrok.cw.gamestate.GameListener"
        config: &base_game_config
          gold_shared_object: "gold_config"
          buildings:
            destroy_wait: 3
          map_voting:
            random_map: "random"
            map_list: &votable_maps
              - "canyon"
#              - "forest_hills"
#              - "cavern"
              - "random"
          choosable_teams: &choosable_teams
            - "red"
            - "blue"
            - "green"
            - "yellow"
          choosable_kits:
            - "general"
            - "scout"
          showdown_start:
            teams: 2
            players: 4
          start_items:
            clear_inventory: true
            items:
              - name: "pickaxe"
                slot: 0
  showdown:
    listeners:
      main:
        class: "com.ithinkrok.cw.gamestate.ShowdownListener"
        config: *base_game_config
  aftermath:
    listeners:
      main:
        class: "com.ithinkrok.cw.gamestate.AftermathListener"

start_game_state: "lobby"

custom_items:
  map_voter:
    display_name_locale: "map_voter.name"
    description_locale: "map.voter.desc"
    material: "EMPTY_MAP"
    listeners:
      vote:
        events: ["rightClick"]
        class: "com.ithinkrok.minigames.inventory.MapVoter"
        config:
          votable_maps: *votable_maps
          map_material: "EMPTY_MAP"
  team_chooser:
    display_name_locale: "team_chooser.name"
    description_locale: "team_chooser.desc"
    material: "LEATHER_HELMET"
    listeners:
      choose:
        events: ["rightClick"]
        class: "com.ithinkrok.minigames.inventory.TeamChooser"
        config:
          choosable_teams: *choosable_teams
          chooser_material: "WOOL"
  class_chooser:
    display_name_locale: "kit_chooser.name"
    description_locale: "kit_chooser.desc"
    material: "WOOD_SWORD"
    listeners:
      choose:
        events: ["rightClick"]
        class: "com.ithinkrok.minigames.inventory.KitChooser"
        config:
          choosable_kits:
            general: "DIAMOND_SWORD,1,0,General"
            scout: "COMPASS,1, 0,Scout"
  darkness_sword:
    display_name_locale: "darkness_sword.name"
    description_locale: "darkness_sword.desc"
    material: "IRON_HELMET"
    listeners:
      weapon:
        events: ["attack"]
        class: "com.ithinkrok.minigames.item.WeaponModifier"
        config:
          damage: "array(sword, 1, 2.5, 4)"
          effects:
            wither:
              duration: "array(sword, 3, 6, 10)"
            confusion:
              duration: "array(sword, 5, 7, 8)"
      lightning:
        events: ["attack", "rightClick"]
        class: "com.ithinkrok.cw.item.LightningWand"
        config:
          max_range: 100
          damage_multiplier: 2.8
  pickaxe:
    material: "DIAMOND_PICKAXE"
  mighty_axe:
    display_name_locale: "mighty_axe.name"
    material: "STONE_AXE"
  general_sword:
    material: "DIAMOND_SWORD"
    upgradable: true
    enchantments:
      DAMAGE_ALL: "1*sword"
      KNOCKBACK: 1
  team_compass:
    display_name_locale: "team_compass.name"
    material: "COMPASS"
    listeners:
      team_compass:
        events: ["rightClick"]
        class: "com.ithinkrok.cw.item.TeamCompass"
  player_compass:
    display_name_locale: "player_compass.name"
    material: "COMPASS"
    listeners:
      team_compass:
        events: ["rightClick"]
        class: "com.ithinkrok.cw.item.PlayerCompass"
  regen_ability:
    display_name_locale: "regen_ability.name"
    material: "CHAINMAIL_HELMET"
    upgradable: true
    right_cooldown:
      ability: "regen"
      timer: "35-regen*10"
      finished_locale: "regen_ability.cooldown"
    listeners:
      regen_ability:
        class: "com.ithinkrok.cw.item.PotionAbility"
        events: ["rightClick"]
        config:
          potion_effect: "REGENERATION"
          duration: 10
          level: "regen*2+1"
  scout_sword:
    material: "WOOD_SWORD"
    upgradable: true
    enchantments:
      DAMAGE_ALL: "1*sharpness"
      KNOCKBACK: "1*knockback"
  invisible_user_toggle:
    display_name_locale: "invisible_user_toggle.name"
    material: "IRON_LEGGINGS"
    listeners:
      invisible_user_toggle:
        class: "com.ithinkrok.cw.item.InvisibleUserToggle"

listeners: {}